
              廿一點（BlackJack）                Update Date: 2014.4. 4
------------------------------------------------------------------------

[遊戲流程]

1. 每位玩家都擁有10枚硬幣的籌碼，每局初始賭資為一枚硬幣。
2. 每位玩家皆會取得兩張初始牌。
3. 玩家能夠進行的動作有：抽牌、不抽牌、賭注加倍。
4. 每位玩家最多只能擁有5張牌。
5. 每位玩家在進行動作時，必須進行「抽牌」動作直到累積點數不小於17。
6. 達成以下狀況，即可算當局獲勝：
	6.1. 任一玩家初始牌點數合計正好21點，而其他玩家並沒有，該玩家勝。
	6.2. 任一玩家擁有5張手牌，且點數累計不大於21，該玩家勝且可獲得雙倍籌碼。
	6.3. 累計點數最多且未超過21點者勝。
7. 若未出現勝者狀況，無任何人可獲得籌碼。
8. 重複遊戲，直到有任何玩家失去所有籌碼。

[點數計算方法]
1. Jack, Queen, King 每張算10點；
2. Ace 可算1點或11點；
3. 其餘按數字計算。

------------------------------------------------------------------------

